<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Tarifas de la Plataforma
                <div class="pull-right">
                    <button type="submit" routerLink="new" class="btn btn-outline-success">
                        Nueva Tarifa
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive m-t-40">

                    <table id="tablaTarifasPlataforma" class="display nowrap table table-hover table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Vigencia</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>