<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Administración de tarifas por formatos
            </div>
            <div class="card-body">
                <form [formGroup]="formulario" novalidate (ngSubmit)="save()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="formato">Seleccione el formato de tipo de contenido a configurar</label>
                                <ng-container *ngIf="searchFomatos == 'loading'">
                                    <p class="notch"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></p>
                                </ng-container>
                                <ng-container *ngIf="searchFomatos == 'error'">
                                    <p class="notch text-danger">¡Ha ocurrido un error intentando cargar los datos! Haga click <ins class="pointer" (click)="getFormatos()">aqui</ins></p>
                                </ng-container>
                                <ng-container *ngIf="searchFomatos == 'success'">
                                    <select (change)="getFormatoConfiguracion( $event.target.value )" id="formato" class="form-control custom-select" name="formato" formControlName="formato" [ngClass]="{'is-invalid': formulario.controls['formato'].invalid  && (formulario.controls['formato'].dirty || formulario.controls['formato'].touched)}">
                                        <option value="">Seleccione una opción</option>
                                        <option *ngFor="let formato of formatos" [value]="formato.codigo">{{ formato.nombre }}</option>
                                    </select>
                                    <ng-container *ngFor="let validation of messages.formato">
                                        <div class="invalid-feedback" role="alert" *ngIf="formulario.get('formato').hasError(validation.type) && (formulario.get('formato').dirty || formulario.get('formato').touched)">
                                            {{ validation.message }}
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <table class="display nowrap table table-hover table-bordered" width="100%">

                                <thead>
                                    <tr>
                                        <th>Tipo de Plataforma</th>
                                        <th>Rango</th>
                                        <th>Tarifa</th>
                                        <th>Aplica Desde</th>
                                        <th>Aplica Hasta</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <ng-container *ngIf="searchConfiguracion == 'loading'">
                                        <tr class="text-center">
                                            <td colspan="6">
                                                <p class="notch"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></p>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="searchConfiguracion == 'error'">
                                        <tr>
                                            <td colspan="6">
                                                <p class="notch text-danger">¡Ha ocurrido un error intentando cargar los datos!</p>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="searchConfiguracion == 'success'">
                                        <ng-container *ngIf="configuraciones.length == 0">
                                            <tr>
                                                <td colspan="6">
                                                    Sin configuraciones.
                                                </td>
                                            </tr>
                                        </ng-container>
                                        <ng-container *ngIf="configuraciones.length > 0">
                                            <tr *ngFor="let configuracion of configuraciones; let i = index">

                                                <td style="vertical-align: middle">{{ configuracion.tarifa_plataforma.nombre }} - {{ configuracion.tipo_tarifa_plataforma.nombre }}</td>
                                                <ng-container *ngIf="configuracion.tipo_tarifa_plataforma.rango == true">
                                                    <td style="vertical-align: middle">{{ configuracion.desde }} a {{ configuracion.hasta }}</td>
                                                </ng-container>
                                                <ng-container *ngIf="configuracion.tipo_tarifa_plataforma.rango == false">
                                                    <td style="vertical-align: middle">{{ configuracion.desde }}</td>
                                                </ng-container>
                                                <td style="vertical-align: middle">
                                                    <div class="form-group">
                                                        <input class="form-control" placeholder="$" [id]="'tarifa' + i" [formControlName]="'tarifa' + i" [ngClass]="{'is-invalid': formulario.controls['tarifa' + i ].invalid  && (formulario.controls['tarifa' + i].dirty || formulario.controls['tarifa' + i].touched)}">
                                                        <ng-container *ngFor="let validation of messages['tarifa' + i]">
                                                            <div class="invalid-feedback" role="alert" *ngIf="formulario.get('tarifa' + i).hasError(validation.type) && (formulario.get('tarifa' + i).dirty || formulario.get('tarifa' + i).touched)">
                                                                {{ validation.message }}
                                                            </div>
                                                        </ng-container>
                                                    </div>
                                                </td>
                                                <ng-container *ngIf="configuracion.show_titulo">
                                                    <td [attr.rowspan]="configuracion.rowspan" style="vertical-align: middle">
                                                        <div class="form-group">
                                                            <input type="text" [id]="'desde' + i" data-mask="99-99-9999" class="form-control fechaDesde" placeholder="dd-mm-yyyy" [formControlName]="'desde' + i" [ngClass]="{'is-invalid': formulario.controls['desde' + i ].invalid  && (formulario.controls['desde' + i].dirty)}">
                                                            <ng-container *ngFor="let validation of messages['desde' + i]">
                                                                <div class="invalid-feedback" role="alert" *ngIf="formulario.get('desde' + i).hasError(validation.type) && (formulario.get('desde' + i).dirty || formulario.get('desde' + i).touched)" required>
                                                                    {{ validation.message }}
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                    </td>
                                                </ng-container>
                                                <ng-container *ngIf="configuracion.show_titulo">
                                                    <td [attr.rowspan]="configuracion.rowspan" style="vertical-align: middle">
                                                        <div class="form-group">
                                                            <input type="text" [id]="'hasta' + i" data-mask="99-99-9999" class="form-control fecha" placeholder="dd-mm-yyyy" [formControlName]="'hasta' + i" [ngClass]="{'is-invalid': formulario.controls['hasta' + i ].invalid  && (formulario.controls['hasta' + i].dirty)}">
                                                            <ng-container *ngFor="let validation of messages['hasta' + i]">
                                                                <div class="invalid-feedback" role="alert" *ngIf="formulario.get('hasta' + i).hasError(validation.type) && (formulario.get('hasta' + i).dirty || formulario.get('hasta' + i).touched)">
                                                                    {{ validation.message }}
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                    </td>
                                                </ng-container>
                                                <ng-container *ngIf="configuracion.show_titulo">
                                                    <td [attr.rowspan]="configuracion.rowspan" style="vertical-align: middle">
                                                        <i class="fa fa-trash fa-2x text-danger pointer" aria-hidden="true" (click)="deleteConfiguracion( configuracion.tipo_tarifa_plataforma.id, configuracion.tipo_tarifa_plataforma.rango )"></i>
                                                    </td>
                                                </ng-container>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </tbody>
                            </table>
                            <button *ngIf="formulario.value.formato != ''" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNuevaTarifa">Nueva Tarifa</button>
                            <button *ngIf="!formulario.valid || !disabledSave" disabled class="btn bttDisabled">
                                Guardar
                            </button>
                            <button *ngIf="formulario.valid && disabledSave" type="button" (click)="save()" class="btn btn-success">
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalNuevaTarifa" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Tipo de tarifa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label" for="plataforma">Seleccione la tarifa de plataforma</label>
                        <ng-container *ngIf="searchTarifasConfiguradas == 'loading'">
                            <p class="notch"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></p>
                        </ng-container>
                        <ng-container *ngIf="searchTarifasConfiguradas == 'error'">
                            <p class="notch text-danger">¡Ha ocurrido un error intentando cargar los datos! Haga click <ins class="pointer" (click)="getTarifasConfiguradas()">aqui</ins></p>
                        </ng-container>
                        <ng-container *ngIf="searchTarifasConfiguradas == 'success'">
                            <select (change)="getConfiguracion( $event.target.value )" id="plataforma" class="form-control custom-select" name="plataforma">
                                <option value="0">Seleccione una opción</option>
                                <option *ngFor="let tarifa of tarifasConfiguradas" [value]="tarifa.id">{{ tarifa.nombre }}</option>
                            </select>
                        </ng-container>
                    </div>

                    <table class="display nowrap table table-hover table-bordered" width="100%">

                        <thead>
                            <tr>
                                <th>Tipo de Tarifa</th>
                                <th>Desde</th>
                                <th>Hasta</th>
                                <th>Vigencia</th>
                            </tr>
                        </thead>

                        <tbody>
                            <ng-container *ngIf="searchAddConfiguracion == 'loading'">
                                <tr class="text-center">
                                    <td colspan="5">
                                        <p class="notch"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></p>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container *ngIf="searchAddConfiguracion == 'error'">
                                <tr>
                                    <td colspan="5">
                                        <p class="notch text-danger">¡Ha ocurrido un error intentando cargar los datos!</p>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container *ngIf="searchAddConfiguracion == 'success'">
                                <ng-container *ngIf="addConfiguraciones.length == 0">
                                    <tr>
                                        <td colspan="5">
                                            Sin configuraciones.
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="addConfiguraciones.length > 0">
                                    <tr *ngFor="let configuracion of addConfiguraciones; let i = index">
                                        <ng-container *ngIf="configuracion.show_titulo">
                                            <td [attr.rowspan]="configuracion.rowspan" style="vertical-align: middle">
                                                <input type="radio" name="tipoTarifaName" id="tipoTarifa{{ configuracion.tipo_tarifa_plataforma_id }}" class="filled-in chk-col-blue-grey">
                                                <label for="tipoTarifa{{ configuracion.tipo_tarifa_plataforma_id }}">{{ configuracion.tipo_tarifa_plataforma.nombre }}</label>
                                            </td>
                                        </ng-container>
                                        <td>{{ configuracion.desde }}</td>
                                        <td>{{ configuracion.hasta }}</td>
                                        <td>
                                            <i *ngIf="configuracion.vigencia" class="fa fa-check-circle-o text-success" aria-hidden="true"></i>
                                            <i *ngIf="!configuracion.vigencia" class="fa fa-times-circle-o text-danger" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <button *ngIf="addConfiguraciones.length == 0" disabled class="btn bttDisabled">
                        Agregar Tarifas
                    </button>
                    <button *ngIf="addConfiguraciones.length > 0" type="button" (click)="addConfiguracionTarifas()" class="btn btn-success">
                        Agregar Tarifas
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>