<style>
    #valoresPosibles tbody tr {
        cursor: move !important;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Administración de tarifas por atributo
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="formatoTarifa">Indique el formato a configurar</label>
                            <ng-container *ngIf="searchFomatosTarifas == 'loading'">
                                <p class="notch"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></p>
                            </ng-container>
                            <ng-container *ngIf="searchFomatosTarifas == 'error'">
                                <p class="notch text-danger">¡Ha ocurrido un error intentando cargar los datos! Haga click <ins class="pointer" (click)="getFormatosTarifas()">aqui</ins></p>
                            </ng-container>
                            <ng-container *ngIf="searchFomatosTarifas == 'success'">
                                <select id="formatoTarifa" class="form-control custom-select" name="formatoTarifa" (change)="getAtributosConfigurar( $event.target.value )">
                                    <option value="0">Seleccione una opción</option>
                                    <option *ngFor="let formatoTarifa of formatosTarifas" [value]="formatoTarifa.codigo">{{ formatoTarifa.nombre }}</option>
                                </select>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="atributosConfigurar">Seleccione el atributo a configurar</label>
                            <ng-container *ngIf="searchAtributosConfigurar == 'loading'">
                                <p class="notch"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></p>
                            </ng-container>
                            <ng-container *ngIf="searchAtributosConfigurar == 'error'">
                                <p class="notch text-danger">¡Ha ocurrido un error intentando cargar los datos! <ins class="pointer" (click)="getAtributosConfigurar( formatoTarifa )">aqui</ins></p>
                            </ng-container>
                            <ng-container *ngIf="searchAtributosConfigurar == 'success'">
                                <select id="atributosConfigurar" class="form-control custom-select" name="atributosConfigurar" (change)="getValoresPosibles( $event.target.value )">
                                    <option value="">Seleccione una opción</option>
                                    <option *ngFor="let atributoConfigurar of atributosConfigurar" [value]="atributoConfigurar.id">{{ atributoConfigurar.nb_atributo }}</option>
                                </select>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="table-responsive scroll-y">
                            <span class="label label-info" *ngIf="valoresPosibles.length > 1">Para ordenar los valores, debe arrastrarlos hasta la posición deseada</span>
                            <table id="valoresPosibles" class="table table-bordered color-bordered-table inverse-bordered-table">
                                <thead>
                                    <th></th>
                                    <th>Valor</th>
                                    <th>Orden</th>
                                </thead>
                                <tbody id="tbodyValoresPosibles">

                                    <ng-container *ngIf="searchValoresPosibles == 'success'">
                                        <ng-container *ngIf="valoresPosibles.length == 0">
                                            <tr class="text-center">
                                                <td colspan="3">Sin resultados.</td>
                                            </tr>
                                        </ng-container>
                                        <ng-container *ngIf="valoresPosibles.length > 0">
                                            <tr *ngFor="let valorPosible of valoresPosibles; let i = index" id="tr{{ valorPosible.id }}">
                                                <td>
                                                    <input type="checkbox" id="check_{{ valorPosible.id }}" [checked]="chkAttrValor" (click)="activarFormulario()" class="filled-in chk-col-blue-grey chkAttrValor">
                                                    <label for="check_{{ valorPosible.id }}"></label>
                                                </td>
                                                <td>{{ valorPosible.vl_atributo_valor }}</td>
                                                <td id="ord_{{ valorPosible.id }}">
                                                    {{ i + 1 }}
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="searchValoresPosibles == 'loading'">
                                        <tr class="text-center">
                                            <td colspan="3">
                                                <p class="notch"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></p>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="searchValoresPosibles == 'error'">
                                        <tr class="text-center">
                                            <td colspan="3">
                                                <p class="notch text-danger">¡Ha ocurrido un error intentando cargar los datos! <ins class="pointer" (click)="getValoresPosibles( atributoConfigurar )">aqui</ins></p>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <form [formGroup]="formulario" novalidate (ngSubmit)="save()">
                            <div class="row">
                                <ng-container *ngIf="searchConfiguracionTarifas == 'loading'">
                                    <div class="col-md-12">
                                        <p class="notch"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></p>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="searchConfiguracionTarifas == 'error'">
                                    <div class="col-md-12">
                                        <p class="notch text-danger">¡Ha ocurrido un error intentando cargar los datos! <ins class="pointer" (click)="buscarConfiguracion()">aqui</ins></p>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="searchConfiguracionTarifas == 'success'">
                                    <div class="col-md-12">
                                        <ng-container *ngIf="filedsDisabled || excluyenteDisabled">
                                            <fieldset disabled="">
                                                <div class="form-group">
                                                    <input type="checkbox" [checked]="chkExcluyente" class="filled-in chk-col-blue-grey">
                                                    <label>Excluyente</label>
                                                </div>
                                            </fieldset>
                                        </ng-container>
                                        <ng-container *ngIf="!filedsDisabled && !excluyenteDisabled">
                                            <div class="form-group">
                                                <input type="checkbox" id="excluyente" [checked]="chkExcluyente" (click)="toggleInfAd( $event.target )" class="filled-in chk-col-blue-grey" formControlName="excluyente">
                                                <label for="excluyente">Excluyente</label>
                                            </div>
                                        </ng-container>

                                    </div>
                                    <div class="col-md-6">
                                        <label>Expresión mínima</label>
                                        <ng-container *ngIf="filedsDisabled || expresionDisabled">

                                            <fieldset disabled="">
                                                <div class="input-group">
                                                    <input type="text" class="form-control">

                                                </div>
                                            </fieldset>
                                        </ng-container>
                                        <ng-container *ngIf="!filedsDisabled && !expresionDisabled">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="expresion_min" id="expresion_min" type="text" [ngClass]="{'is-invalid': formulario.controls['expresion_min'].invalid  && (formulario.controls['expresion_min'].dirty || formulario.controls['expresion_min'].touched)}"
                                                    placeholder="null">

                                                <ng-container *ngFor="let validation of messages.expresion_min">
                                                    <div class="invalid-feedback" role="alert" *ngIf="formulario.get('expresion_min').hasError(validation.type) && (formulario.get('expresion_min').dirty || formulario.get('expresion_min').touched)">
                                                        {{ validation.message }}
                                                    </div>
                                                </ng-container>

                                            </div>

                                        </ng-container>
                                        <br>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Expresión máxima</label>
                                        <ng-container *ngIf="filedsDisabled || expresionDisabled">
                                            <fieldset disabled="">
                                                <div class="input-group">
                                                    <input type="text" class="form-control">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <label class="custom-control custom-checkbox m-b-0 ">
                                                        <input type="checkbox" class="filled-in chk-col-blue-grey pointer">
                                                            <span class="custom-control-label"></span>
                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>

                                        </ng-container>
                                        <ng-container *ngIf="!filedsDisabled && !expresionDisabled">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="expresion_max" id="expresion_max" type="text" [ngClass]="{'is-invalid': formulario.controls['expresion_max'].invalid  && (formulario.controls['expresion_max'].dirty || formulario.controls['expresion_max'].touched)}"
                                                    placeholder="null">
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <label class="custom-control custom-checkbox m-b-0">
                                                                <input type="checkbox" id="maxExpMax" name="expresion_max" (click)="maxValue( $event.target )" class="custom-control-input filled-in chk-col-blue-grey">
                                                                <span class="custom-control-label"></span>
                                                            </label>
                                                    </div>
                                                </div>
                                                <ng-container *ngFor="let validation of messages.expresion_max">
                                                    <div class="invalid-feedback" role="alert" *ngIf="formulario.get('expresion_max').hasError(validation.type) && (formulario.get('expresion_max').dirty || formulario.get('expresion_max').touched)">
                                                        {{ validation.message }}
                                                    </div>
                                                </ng-container>
                                            </div>

                                        </ng-container>
                                        <br>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="valor_min">Valor mínimo</label>
                                        <ng-container *ngIf="filedsDisabled || expresionDisabled">
                                            <fieldset disabled="">
                                                <div class="input-group">
                                                    <input type="text" class="form-control">

                                                </div>
                                            </fieldset>
                                        </ng-container>
                                        <ng-container *ngIf="!filedsDisabled && !expresionDisabled">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="valor_min" id="valor_min" type="text" [ngClass]="{'is-invalid': formulario.controls['valor_min'].invalid  && (formulario.controls['valor_min'].dirty || formulario.controls['valor_min'].touched)}" placeholder="null">

                                                <ng-container *ngFor="let validation of messages.valor_min">
                                                    <div class="invalid-feedback" role="alert" *ngIf="formulario.get('valor_min').hasError(validation.type) && (formulario.get('valor_min').dirty || formulario.get('valor_min').touched)">
                                                        {{ validation.message }}
                                                    </div>
                                                </ng-container>
                                            </div>

                                        </ng-container>
                                        <br>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Valor máximo</label>
                                        <ng-container *ngIf="filedsDisabled || expresionDisabled">
                                            <fieldset disabled="">
                                                <div class="input-group">
                                                    <input type="text" class="form-control">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <label class="custom-control custom-checkbox m-b-0">
                                                                <input type="checkbox" class="filled-in chk-col-blue-grey pointer">
                                                                    <span class="custom-control-label"></span>
                                                                </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </ng-container>
                                        <ng-container *ngIf="!filedsDisabled && !expresionDisabled">
                                            <div class="input-group">
                                                <input class="form-control" formControlName="valor_max" id="valor_max" type="text" [ngClass]="{'is-invalid': formulario.controls['valor_max'].invalid  && (formulario.controls['valor_max'].dirty || formulario.controls['valor_max'].touched)}" placeholder="null">
                                                <div class="input-group-append">
                                                    <div class="input-group-text">
                                                        <label class="custom-control custom-checkbox m-b-0">
                                                                <input type="checkbox" id="maxValMax" name="valor_max" (click)="maxValue( $event.target )" class="custom-control-input filled-in chk-col-blue-grey">
                                                                <span class="custom-control-label"></span>
                                                            </label>
                                                    </div>
                                                </div>
                                                <ng-container *ngFor="let validation of messages.valor_max">
                                                    <div class="invalid-feedback" role="alert" *ngIf="formulario.get('valor_max').hasError(validation.type) && (formulario.get('valor_max').dirty || formulario.get('expresion_max').touched)">
                                                        {{ validation.message }}
                                                    </div>
                                                </ng-container>
                                            </div>

                                        </ng-container>
                                        <br>
                                    </div>
                                    <div class="col-12">
                                        <label class="control-label" for="tiposTarifas">Tipo de tarifa a aplicar</label>
                                        <br>
                                        <ng-container *ngIf="searchTiposTarifas == 'loading'">
                                            <p class="notch"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></p>
                                        </ng-container>
                                        <ng-container *ngIf="searchTiposTarifas == 'error'">
                                            <p class="notch text-danger">¡Ha ocurrido un error intentando cargar los datos! <ins class="pointer" (click)="getTiposTarifas()">aqui</ins></p>
                                        </ng-container>
                                        <ng-container *ngIf="searchTiposTarifas == 'success'">
                                            <ng-container *ngIf="filedsDisabled">
                                                <fieldset disabled="">
                                                    <div class="form-group">

                                                        <ng-container *ngFor="let tipoTarifa of tiposTarifas">
                                                            <ng-container *ngIf="tipoTarifa.admin">
                                                                <input type="checkbox" class="filled-in chk-col-blue-grey">
                                                                <label>{{ tipoTarifa.nombre }}</label>
                                                            </ng-container>
                                                        </ng-container>
                                                    </div>
                                                </fieldset>
                                            </ng-container>
                                            <ng-container *ngIf="!filedsDisabled">
                                                <div class="form-group">

                                                    <ng-container *ngFor="let tipoTarifa of tiposTarifas">
                                                        <ng-container *ngIf="tipoTarifa.admin">
                                                            <ng-container *ngIf="!tipoTarifa.hidden">
                                                                <input type="checkbox" id="tipoTarifa_{{ tipoTarifa.codigo }}" class="filled-in chk-col-blue-grey chkTipoTarifa" (click)="validarForm()">
                                                                <label for="tipoTarifa_{{ tipoTarifa.codigo }}">{{ tipoTarifa.nombre }}</label>
                                                            </ng-container>
                                                            <ng-container *ngIf="tipoTarifa.hidden">
                                                                <input type="checkbox" class="filled-in chk-col-blue-grey" disabled="true">
                                                                <label>{{ tipoTarifa.nombre }}</label>
                                                            </ng-container>
                                                        </ng-container>
                                                    </ng-container>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                    <div class="col-md-12">
                                        <ng-container *ngIf="filedsDisabled || adicionalDisabled">
                                            <fieldset disabled="">
                                                <div class="form-group">
                                                    <input type="checkbox" class="filled-in chk-col-blue-grey">
                                                    <label>¿Habilitar información adicional del generador de contenidos?</label>
                                                </div>
                                            </fieldset>
                                        </ng-container>
                                        <ng-container *ngIf="!filedsDisabled && !adicionalDisabled">
                                            <div class="form-group">
                                                <input type="checkbox" id="info_adicional" class="filled-in chk-col-blue-grey" formControlName="info_adicional">
                                                <label for="info_adicional">¿Habilitar información adicional del generador de contenidos?</label>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group col-md-8">
                                            <button *ngIf="!formulario.valid || filedsDisabled || saveDisabled" disabled class="btn bttDisabled">
                                                Guardar
                                            </button>
                                            <button *ngIf="formulario.valid && !filedsDisabled && !saveDisabled" type="submit" class="btn btn-success">
                                                Guardar
                                            </button>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>