<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Tarifa a configurar: <span class="font-weight-bold">{{ tarifaPlataforma.nombre }}</span>
            </div>
            <div class="card-body">
                <form [formGroup]="formulario" novalidate>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="nombre"><span class="text-danger">* </span>Nombre</label>
                                <input class="form-control" [(ngModel)]="tarifaPlataforma.nombre" formControlName="nombre" id="nombre" type="text" [ngClass]="{'is-invalid': formulario.controls['nombre'].invalid  && (formulario.controls['nombre'].dirty || formulario.controls['nombre'].touched)}">
                                <ng-container *ngFor="let validation of messages.nombre">
                                    <div class="invalid-feedback" role="alert" *ngIf="formulario.get('nombre').hasError(validation.type) && (formulario.get('nombre').dirty || formulario.get('nombre').touched)">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="descripcion"><span class="text-danger">* </span>Descripción</label>
                                <input class="form-control" formControlName="descripcion" id="descripcion" type="text" [ngClass]="{'is-invalid': formulario.controls['descripcion'].invalid  && (formulario.controls['descripcion'].dirty || formulario.controls['descripcion'].touched)}">
                                <ng-container *ngFor="let validation of messages.descripcion">
                                    <div class="invalid-feedback" role="alert" *ngIf="formulario.get('descripcion').hasError(validation.type) && (formulario.get('descripcion').dirty || formulario.get('descripcion').touched)">
                                        {{ validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">

                                <label for="aplica"><span class="text-danger">* </span>Aplica</label>
                                <br>
                                <span *ngFor="let chk of data.entities; let i = index;">
                                    <input type="checkbox" checked="{{ chk.checked }}" (click)="getAplica($event.target)" class="filled-in chk-col-blue-grey" id="chk_{{ chk.id }}" value="{{ chk.id }}">
                                    <label for="chk_{{ chk.id }}">{{ chk.description }}</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="vigencia">Vigencia</label>
                                <br>
                                <input type="checkbox" id="vigencia" class="filled-in chk-col-blue-grey" formControlName="vigencia">
                                <label for="vigencia">Sí</label>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-md-12" *ngIf="this.param != 'new'">
                        <div class="row" [formGroup]="formularioTipoTarifa">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="nombre">Tipo Tarifa</label>
                                    <ng-container *ngIf="searchTiposTarifas == 'loading'">
                                        <p class="notch"><i class="fa fa-spinner fa-spin fa-fw"></i></p>
                                    </ng-container>
                                    <ng-container *ngIf="searchTiposTarifas == 'error'">
                                        <p class="notch text-danger">¡Ha ocurrido un error intentando cargar los datos! Haga click <ins class="pointer" (click)="getTiposTarifas()">aqui</ins></p>
                                    </ng-container>
                                    <ng-container *ngIf="searchTiposTarifas == 'success'">
                                        <select class="form-control" id="tipoTarifa" formControlName="tipoTarifa" (change)="getRango($event.target)">
                                            <option value="0">Seleccione</option>
                                            <ng-container *ngFor="let tipoTarifa of tiposTarifas">
                                                <option [value]="tipoTarifa.codigo">{{ tipoTarifa.nombre }}</option>
                                                
                                            </ng-container>
                                        </select>
                                    </ng-container>
                                </div>
                            </div>
                            <ng-container *ngIf="porcentaje == 'success'">
                                <div class="form-group popover fade bs-popover-bottom show" role="tooltip" id="popover858109" style="will-change: transform; position: absolute; top: 80px; left: 45%;" x-placement="bottom">
                                    <div class="arrow" style="left: 40px;"></div>
                                    <h3 class="popover-header">¡Aviso!</h3>
                                    <div class="popover-body">Para indicar un porcentaje de descuento use un simbolo (-)</div>
                                </div>
                            </ng-container>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <ng-container *ngIf="porcentaje == 'success'">
                                        <label for="desde">%</label>
                                    </ng-container>
                                    <ng-container *ngIf="porcentaje == 'false'">
                                        <label for="desde">Desde</label>
                                    </ng-container>
                                    <input class="form-control" formControlName="desde" (input)="validaDesde($event)" type="text" id="desde" [value]="desdeValue">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="hasta">Hasta</label>
                                    <input class="form-control" formControlName="hasta" type="text" id="hasta" [value]="hastaValue">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="accion">Acción</label>
                                    <br>
                                    <button *ngIf="disaAdd" type="button" disabled class="btn">Agregar</button>
                                    <button *ngIf="!disaAdd" type="button" class="btn btn-primary" (click)="addTipoTarifa()">Agregar</button>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="col-md-12">
                        <button type="button" routerLink="/tarifas-plataforma" class="btn btn-outline-secondary">Regresar</button>
                        <button *ngIf="!formulario.valid" disabled class="btn">
                            Guardar
                        </button>
                        <button *ngIf="formulario.valid" type="button" (click)="save()" class="btn btn-success">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-12 m-t-30">
        <h4 class="m-b-0">Tipo de Tarifas</h4>
        <p class="text-muted m-t-0 font-12"></p>
    </div>

    <div class="col-12">
        <ng-container *ngIf="searchConfiguracionTarifa == 'loading'">
            <p class="notch"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i></p>
        </ng-container>
        <ng-container *ngIf="searchConfiguracionTarifa == 'error'">
            <p class="notch text-danger">¡Ha ocurrido un error intentando cargar los datos! Haga click <ins class="pointer" (click)="getConfiguraciones()">aqui</ins></p>
        </ng-container>
        <ng-container *ngIf="searchConfiguracionTarifa == 'success' && configuraciones.length == 0">
            <p>Sin configuraciones</p>
        </ng-container>
    </div>

    <div class="col-md-4" *ngFor="let configuracion of cardConfiguraciones; let i = index">
        <div class="card card-outline-info">
            <div class="card-header text-white">
                {{ configuracion.nombre }}
                <div class="card-actions">
                    <a class="btn-close" (click)="deleteConfiguracion( configuracion.tipo_tarifa_plataforma_id, configuracion.esRango )"><i class="ti-close"></i></a>
                </div>

            </div>
            <div class="card-body collapse show">
                <p class="text-muted m-t-0 font-12">{{ configuracion.descripcion }}</p>
                <p *ngIf="configuracion.valor > 0 && !configuracion.esRango" class="card-text">{{ configuracion.valor }}</p>
                <ng-container *ngIf="configuracion.valor > 0 && configuracion.esRango">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr style="text-align: center">
                                    <th>Desde</th>
                                    <th>Hasta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align: center" *ngFor="let rango of configuracion.rango; let i = index">
                                    <td>{{ rango.desde }}</td>
                                    <td>{{ rango.hasta }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalRangos" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Tipo de tarifa <span class="font-weight-bold">Rango</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <table class="display nowrap table table-hover table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th>Valor Desde</th>
                                <th>Valor Hasta</th>
                                <th colspan=2></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rango of configuracionesRango; let i = index">
                                <td>
                                    <input class="form-control" name="desdeRango_{{ i }}" [disabled]="disabledDesde" type="text" id="desdeRango_{{ i }}" [value]="rango.desde" (keyup)="validaDatos( $event.target )">
                                </td>
                                <td>
                                    <input class="form-control" name="hastaRango_{{ i }}" type="text" id="hastaRango_{{ i }}" value="" (keyup)="validaDatos( $event.target )">
                                </td>
                                <td>
                                    <div class="form-group maxValue" id="groupMax_{{ i }}">
                                        <input type="checkbox" (click)="maxValue( $event.target )" id="max_{{ i }}" class="filled-in chk-col-blue-grey">
                                        <label for="max_{{ i }}">Máx Value</label>
                                    </div>
                                </td>
                                <td>
                                    <i class="fa fa-trash fa-2x text-danger pointer trashRango" id="del_{{ i }}" (click)="deleteRango( rango.codigo )" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Valor Desde</th>
                                <th>Valor Hasta</th>
                                <th colspan=2></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="col-md-12">
                    <button type="button" (click)="saveRango( idRangoTarifa )" id="btnsaveRango" [disabled]="modalSaveDisabled" class="btn bttDisabled">Guardar</button>
                    <button type="button" class="btn bttDisabledPrimary" id="btnAddRango" [disabled]="modalAddDisabled" (click)="addRango( idRangoTarifa )">Agregar</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal" (click)="closeModal()">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>