<div class="overlay">
    <div>
        <div class="load-9">
            <div class="spinner">
                <div class="bubble-1"></div>
                <div class="bubble-2"></div>
            </div>
        </div>
    </div>
</div>